<h1><%= @cocktail.name %></h1>
<%= link_to "Add a Dose", new_cocktail_dose_path(@cocktail) %>
<%= link_to "Back", cocktails_path %>

<%= @cocktail.doses.each do |dose| %>
  <%= dose.description %>
  <%= dose.ingredient.name %>
  <%= link_to "Detele", dose_path(dose), method::delete,data:{confirm:"Sure!!!!!"} %>
<% end %>

